<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/footer.css">
	<!-- <script src="/js/footer.js" defer></script> -->
</head>
	<body>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col">
						<img class="logos" src ="/images/khohuai.png">
					</div>
					<div class="col">
						<h1>About us</h1>
							<p>
								<i class="fa fa-home fa-lg"></i>&ensp;123 ถนนพุทธบูชา แขวงบางมด เขตทุ่งครุ กรุงเทพมหานคร 10140
							</p>
							<p>
								<i class="fa fa-facebook-square fa-lg"></i><a href="https://www.facebook.com/profile.php?id=100002310023259">&ensp;KHOHUAI.COM</a>
							</p>
							<p>
								<i class="fa fa-mobile fa-2x"></i>&ensp;021234565
							</p>
							<p>
								<i class="fa fa-envelope"></i>&ensp;khohuai@mail.com
							</p>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2020 Copyright Praew & Toy
				</div>
			</div>
		</footer>
	</body>
</html>