<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap" rel="stylesheet">

<center>
    <br>
    <p style="font-family: 'Bai Jamjuree', sans-serif; color: red;">เกิดข้อผิดพลาดบางประการ :(</p>
    <p style="font-family: 'Bai Jamjuree', sans-serif; color: red;">Purchase Fail :(</p>
    <a style="font-family: 'Bai Jamjuree', sans-serif;" href="/">กลับไปหน้าแรก</a>
</center>