<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap" rel="stylesheet">

<center>
    <br>
    <p style="font-family: 'Bai Jamjuree', sans-serif; color: seagreen;">รายการสั่งซื้อสำเร็จ!</p>
    <p style="font-family: 'Bai Jamjuree', sans-serif; color: seagreen;">Purchase Successful!</p>
    <a style="font-family: 'Bai Jamjuree', sans-serif;" href="/">กลับไปหน้าแรก</a>
</center>