<%- include("partials/header") %>
    <link rel="stylesheet" href="/css/history.css">

<div class="container-fluid">
<br>
    <div class="row justify-content-md-center" style="min-height: 400px"> 
        <div class="col-12 col-md-8 text-center">
            <h4>ประวัติการซื้อ</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">ผู้ใช้</th>
                        <th scope="col">หมายเลขสลาก</th>
                        <th scope="col">จำนวน (ชิ้น)</th>
                        <th scope="col">งวดสลาก</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>