<div class="container mt-5">
    <form method="POST" action="/new">
        <h3 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Post something</h3>
        <div class="form-group">
              <label for="text">Title :</label>
              <input type="text" class="form-control" placeholder="ชื่อหัวเรื่อง" name="number">
        </div>
        <div class="form-group">
            <label for="text">Image URL :</label>
            <input type="text" class="form-control" placeholder="ลิงค์รูปภาพ" name="image">
        </div>
        <div class="form-group">
            <label for="text">Description :</label>
            <input type="text" class="form-control" placeholder="คำบรรยาย" name="price">
        </div>
        <button type="submit" class="btn btn-success btn-block">Post</button>
    </form>
</div>