<%- include("partials/header") %>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/register.js" defer></script>

<div class="container1">
    <% if(locals.errors){ %>
        <ul>
        <% Object.values(errors).forEach(function(error){ %>
            <li><%= error.msg %></li>
        <% }) %> 
        </ul>
    <% } %>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form class="form-group" action="/users/register" method="post">
                        <h4>สมัครสมาชิก</h4>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">ชื่อผู้ใช้</label>
                            <div class="col-md-6">
                                <input type="text" name="usr" id="usr" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">อีเมล์</label>
                            <div class="col-md-6">
                                <input type="email" name="email" id="email" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">รหัสผ่าน</label>
                            <div class="col-md-6">
                                <input type="password" name="pwd" id="pwd" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">ยืนยันรหัสผ่าน</label>
                            <div class="col-md-6">
                                <input type="password" name="repwd" id="repwd" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">เลขที่บัญชี</label>
                            <div class="col-md-6">
                                <input type="text" name="acc" id="acc" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">ชื่อบัญชี</label>
                            <div class="col-md-6">
                                <input type="text" name="accname" id="accname" value="" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label text-md-right">ธนาคาร</label>
                            <div class="col-md-6">
                                <select name="bank" id="bank" class="form-control">
                                    <option value="ธนาคารกรุงเทพ">ธนาคารกรุงเทพ</option>
                                    <option value="ธนาคารกรุงไทย">ธนาคารกรุงไทย</option>
                                    <option value="ธนาคารกรุงศรีอยุธยา">ธนาคารกรุงศรีอยุธยา</option>
                                    <option value="ธนาคารกสิกรไทย">ธนาคารกสิกรไทย</option>
                                    <option value="ธนาคารไทยพาณิชย์">ธนาคารไทยพาณิชย์</option>
                                    <option value="ธนาคารธนชาติ">ธนาคารธนชาติ</option>
                                    <option value="ธนาคารยูโอบี">ธนาคารยูโอบี</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <input type="submit" name="" id="submitRegister" value="ยืนยัน" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>
