.w3-bar-item:link{
  text-decoration: none;
  font-family: 'Bai Jamjuree', sans-serif;
}
.w3-sidebar a{
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}
.head, .main{
  background:  rgb(66, 103, 178);
}
.head h3{
  height: 46px;
  padding-top: 5px;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
}
.button{
  font-size: 15px;
  font-family: 'Bai Jamjuree', sans-serif;
  float: right;
}
.container h4{
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
}
.table tr th{
  font-size: 15px;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
}