body{
    background:  rgb(233, 235, 238);
}
.container{
    padding: 35px;
}
.card-body{
    text-align: center;
    margin-top: 10px;
    background: rgb(66, 103, 178);
}
.card{
    font-size: 15px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    background: rgb(66, 103, 178);
}
.btn{
    font-size: 15px;
}