footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(66, 103, 178);
    color: white;
    text-align: left;
    height: auto;
    position: relative;
}
.footer-copyright{
    color: black;
    text-align: center;
    background: white;
    font-size: 15px;
}
.logos{
    padding: 20px;
    height: 100px;
    margin: auto auto;
    display: block;
}
.container .row .col h1{
    font-size: 15px;
    padding: 15px 0 0 0;
}
.container .row .col p{
    font-size: 12px;
}
.container .row .col a{
    color: white;
}
.container .row .col a:hover{
    color: white;
    text-decoration: none;
}