.container1{
    padding: 30px;
}
.card-body{
    border: 2px solid;
    border-radius: 20px;
}
.card-body h4{
    text-align: center;
    margin-bottom: 30px;
}
.card{
    border-radius: 20px;
    font-size: 15px;
}
